<header class='header'>
  <div class='header__container'>

    <div class='header__section header__section--left'>
      <a href='/' class='header__logo'>
        <img src='/public/assets/images/icons/logo.svg' alt='HomePro' class='header__logo-img'>
        <span class='header__logo-text'>HomePro</span>
      </a>
    </div>

    <div class='header__section header__section--center'>
      <nav class='menu menu--desktop'>
        <a href='#' class='menu__item'>About Us</a>
        <a href='#' class='menu__item'>Services</a>
        <a href='#' class='menu__item'>Our Blog</a>
        <a href='#' class='menu__item'>Contact</a>
      </nav>
    </div>

    <div class='header__section header__section--right'>
      <span class='header__service'>24 Hour Services</span>

      <button id='burger' class='burger'>
        <span class='burger__line'></span>
        <span class='burger__line'></span>
        <span class='burger__line'></span>
      </button>
    </div>
  </div>

  <div id='mobileMenu' class='sidebar'>
    <div class='sidebar__header'>
      <img src='/public/assets/images/icons/logo.svg' alt='HomePro' class='header__logo-img'>
      <span class='sidebar__logo'>HomePro</span>
    </div>

    <nav class='sidebar__menu'>
      <div class='sidebar__list'>
        <a href='#' class='sidebar__item'>About Us</a>
        <a href='#' class='sidebar__item'>Services</a>
        <a href='#' class='sidebar__item'>Our Blog</a>
        <a href='#' class='sidebar__item'>Contact</a>
      </div>

      <span class='sidebar__service header__service'>24 Hour Services</span>
    </nav>
  </div>

  <div class='overlay'></div>
</header>